<script setup>
useHead({
  htmlAttrs: {
    class: 'dark',
  },
})
</script>
<template>
  <Head>
    <Title>Annarù -- servizi sartoriali</Title>
    <Meta name="description" content="Annarù -- atelier e servizi sartoriali" />
    <Meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <Meta charSet="utf-8" />
    <Meta property="og:url" content="https://www.annaru.it" key="ogurl" />
    <Meta
      property="og:image"
      content="https://annaru.it/images/annaru-card.jpg"
      key="ogimage"
    />
    <Meta
      property="og:site_name"
      content="Annarù -- atelier – servizi sartoriali"
      key="ogsitename"
    />
    <Meta
      property="og:title"
      content="Annarù -- atelier – servizi sartoriali"
      key="ogtitle"
    />
    <Meta
      property="og:description"
      content="Annarù -- atelier – servizi sartoriali"
      key="ogdesc"
    />
  </Head>
  <header class="mt-8 mb-8">
    <div class="w-72 m-auto">
      <img src="/images/annaru-square-logo.svg" alt="Annarù logo" />
    </div>
  </header>
  <address class="grid grid-cols-2 not-italic max-w-md m-auto p-8">
    <section>
      <p>TELEFONO</p>
      <a href="tel:+393887903539">+39 388 790 3539</a>
    </section>
    <section class="text-right">
      <p>EMAIL</p>
      <a href="mailto:info@annaru.it">info@annaru.it</a>
    </section>
  </address>
  <main class="m-auto">
    <PriceTable />
  </main>
</template>
