<script setup>
import { coats, gowns, jeans } from '../data/offering'

const filterServices = (services, q) =>
  services.filter((service) =>
    service.name.toLowerCase().includes(q.value.toLowerCase())
  )
const allServices = [...coats, ...gowns, ...jeans]

const q = ref('')
const filteredServices = computed(() => {
  if (!q.value) {
    return allServices
  }
  return filterServices(allServices, q)
})
</script>

<template>
  <UContainer>
    <UInput
      v-model="q"
      placeholder="Cerca il servizio..."
      variant="outline"
      color="gray"
      size="lg"
    />
    <div>
      <!-- <div class="border-b border-slate-600 font-bold mt-5 pt-4 pb-4"> -->
      <!-- <div class="text-center">Servizio</div> -->
      <!-- <div class="basis-2/12 text-right">Prezzo</div> -->
      <!-- </div> -->
      <div
        v-for="service in filteredServices"
        :key="service"
        class="border-b border-slate-800 pt-4 pb-4"
      >
        <div class="text-center">
          {{ service.name }}
        </div>
        <!-- <div class="basis-2/12 text-right">
          {{ service.price }}
        </div> -->
      </div>
    </div>
  </UContainer>
</template>
